<form class="form-horizontal" role="form" {{action 'save' on='submit'}}>
	{{partial "articles/form" article}}
	<div class="btn-group">
		<button type='submit' class="btn btn-large btn-primary">Save</button>
		<button class="btn btn-large btn-danger" {{action 'cancel'}}>Cancel</button>
	</div>
</form>