<div class="container">
	<h3>About RobHub</h3>
	<p>
		Look, everyone wants to show they have skills to do a job. This is an example of me, utilizing a new technology (emberjs frontend with rails api) for the sake of getting a better job than the one I have now.
	</p>
</div>