<div class="jumbotron">
	<h1>Welcome to RobHub!</h1>
	<p>Hi, my name is Robert Baldwin and this is my personal project for showcasing all my other cool projects!</p>
	<p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a></p>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Resume</h3>
				</div>
				<div class="panel-body">
					<p>
						One page resumes are lame, they hardly go into any detail and do not say a lot about a person. So, I will include a much more in-depth biography and cover all of my skills!
					</p>
					<p>
						Click the link for my latest resume!
					</p>
					<button class="btn btn-default" {{action 'to_resume'}}>Resume</button>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Projects</h3>
				</div>
				<div class="panel-body">
					<p>
						Here there be projects! Arghhh!
					</p>
					<button class="btn btn-default" {{action 'to_projects'}}>Projects</button>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Blog</h3>
				</div>
				<div class="panel-body">
					<p>
						The purpose of this blog is to hopefully document my progress into different sub-fields as well talk about some industry wide topics. Such topics may include process, QA, future projects, my favorite tv shows... well, it may cover an ecclectic breadth of topics...whatever!
					</p>
					<p>
						Click the link for my blog, where I cover some interesting topics!
					</p>
					<button class="btn btn-default" {{action 'to_blog'}}>Blog</button>
				</div>
			</div>
		</div>
	</div>
</div>