<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
			EMPLOYMENT
			</h3>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="row">
					<h4>
					Software Engineer – Northrop Grumman          2015 – present
					</h4>
				</div>
				<div class="row">
					<p>
						Maintain production level code on legacy Web applications, furthermore, implement newer strategies to old software to improve performance and visuals.
					</p>
				</div>
				<div class="row">
					<h4>
					Research Assistant – Auburn University  				2014
					</h4>
				</div>
				<div class="row">
					<p>
						Investigate Model-Driven Engineering. Built an application to help represent the connections of an Ontology to more specific representations
					</p>
				</div>
				<div class="row">
					<h4>
					Intern – Children’s Hospital							2013
					</h4>
				</div>
				<div class="row">
					<p>
						Worked on an application to allow patients to view different medical categories pertaining to specific ailments on a cross-platform video app.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
			EDUCATION
			</h3>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="row">
					<h4>
					Bachelor of Software Engineering – Auburn University 2011 –2015
					</h4>
				</div>
				<div class="row">
					<ul>
						<li>
							Fundamentals of Computing I and II
						</li>
						<li>
							Software Construction
						</li>
						<li>
							Discrete Structures
						</li>
						<li>
							Principles of Programming Languages
						</li>
						<li>
							Computer Organization &amp; Assembly Lang Programming
						</li>
						<li>
							Introduction to Algorithms
						</li>
						<li>
							Introduction to Operating Systems
						</li>
						<li>
							Software Modeling and Design
						</li>
						<li>
							Computer Architecture
						</li>
						<li>
							IOS Development
						</li>
						<li>
							Computer And Network Security
						</li>
						<li>
							Software Process
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">PROJECTS</h3>
		</div>
		<div class="panel-body">
			Test Framework - A basic test framework that generates static suites through templates and macros
			Graphics Library - 2d and 3d rendering handling .png files for textures and .obj for models
			Utilities Library - Adds classes as extensible library: console class, file class, timer class, cache class
			Architecture Emulator - Parses and compiles a ‘nix based assembly language and processes result
			RFID - Senior Design project that focused on a cross-platform RFID system for retail stores
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">LANGUAGES &amp; TECHNOLOGIES</h3>
		</div>
		<div class="panel-body">
			<div class="container">
				<h4>Languages</h4>
				<ul>
					<li>C/C++</li>
					<li> Java</li>
					<li> Python</li>
					<li> Ruby (Rails)</li>
					<li> JavaScript</li>
					<li> C#</li>
					<li> Assembly</li>
				</ul>
				<h4>Databases </h4>
				<ul>
					<li>PostgreSQL</li>
					<li> MySQL</li>
					<li> NoSQL</li>
				</ul>
				<h4>OS </h4>
				<ul>
					<li>Linux</li>
					<li>Windows</li>
					<li>OSX</li>
					<li>IOS</li>
					<li>Android</li>
				</ul>
				<h4>IDEs and Text Editors</h4>
				<ul>
					<li>Visual Studio</li>
					<li> Eclipse</li>
					<li> Sublime Text(subsequent packages) </li>
				</ul>
				<h4>Other Technologies</h4>
				
				<ul>
					<li>Git (GitHub)</li>
					<li>SVN</li>
					<li> Trello</li>
					<li> HipChat</li>
					<li> Terminal/Command Prompt</li>
					<li> Heroku</li>
				</ul>
			</div>
		</div>
	</div>
</div>